In [10]:
import numpy as np
import pandas as pd
dataset  = pd.read_csv('Katty2.csv')

In [11]:
dataset.head()

,AUTHOR,Unnamed: 1,CONTENT,Label,Length,Unnamed: 5,Unnamed: 6
0,lekanaVEVO115,NaN,i love this so much. AND also I Generate Free ...,Ham,115,NaN,NaN
1,Pyunghee,NaN,http://www.billboard.com/articles/columns/pop-...,Ham,115,NaN,NaN
2,Erica Ross,NaN,Hey guys! Please join me in my fight to help a...,Ham,113,NaN,NaN
3,Aviel Haimov,NaN,http://psnboss.com/?ref=2tGgp3pV6L this is the...,Ham,113,NaN,NaN
4,John Bello,NaN,Hey everyone. Watch this trailer!!!!!!!! http...,Ham,113,NaN,NaN

In [15]:
len(dataset)

350

In [19]:
dataset['Label'].unique()

array(['Ham', 'Spam'], dtype=object)